# YAML-Dateien ausschließen, aber config_base.yml zulassen
*.yml
!config_base.yml
**/__pycache__

!/engines/README.md
lichess_bot_auto_logs/*
.vscode/*
.vs/*
*.pgn
*.log
# Textdateien ausschließen, aber requirements.txt zulassen
*.txt
!requirements.txt
TEMP/*
